#level, #nameText, #totScoreText{
  -fx-font: 30px Verdana;
  -fx-font-weight: bold;
}

#totScoreText{
    -fx-font-size: 30px;
}

#scoreText, #coinText, #livesText, #timeText, #totScoreText, #nameText, #levelProgressionText{
  -fx-fill: white;
  -fx-stroke: black;
  -fx-stroke-width: 1;
}

#titleHelp {
    -fx-font: 45px Verdana;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#moveText, #enemyText, #pickupText {
    -fx-font: 24px Verdana;
    -fx-label-padding: 4px;
    -fx-text-fill: black;
}


#movePic, #enemyPic, #pickupPic {
    -fx-background-color: white;
}

#nr1, #nr2, #nr3, #nr4, #nr5, #leaderTitle {
   -fx-fill: white;
}